<form (ngSubmit)="saveBook()" [formGroup]="bookForm">
    <h1>
        Create a book
    </h1>

    <div class="group">
        <input type="text" formControlName="title" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name</label>
        <div class="custom-error required-error" [ngClass]="bookForm.get('title').errors">
            Is required
        </div>
        <div class="custom-error minlength-error" [ngClass]="bookForm.get('title')?.errors">
            Must be at least 4 characters long.
        </div>
    
    </div>

    <div class="group">
        <input type="text" formControlName="description" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Description</label>
    </div>

    <div class="group">
        <input type="text" formControlName="subtitle"  autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Subtitle</label>
         <div class="error" [hidden]="bookForm.get('subtitle').valid && bookForm.get('subtitle').untouched || !bookForm.get('subtitle').errors?.required">
            Subtitle is required
        </div>
        <div class="error" *ngIf="bookForm.get('subtitle').errors?.minlength">
            subtitle must be at least 4 characters long.
        </div> 
    </div>
    <div class="group">
        <input type="date" formControlName="publish_date">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Publish date</label>
        <div class="custom-error required-error" [ngClass]="bookForm.get('publish_date').errors">
            Publish date is required
        </div> 
    </div>

    <div class="btn-box">
        <button class="btn btn-submit" type="submit" [disabled]="bookForm.invalid">submit</button>
        <button class="btn btn-cancel" type="button" (click)="revert()">cancel</button>
    </div>
</form>